<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width = 750"/>
    <link rel="stylesheet" type="text/css" href="../../../css/macromates.css" charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../../css/syntax.css" charset="utf-8"/>    
    
    <title>{{ page.title }}</title>
  </head>
  <body id="intro">
    <div id="wrapper">
      <div id="header" onclick="javascript:window.location='/davenport/'">
          <img src="../../../images/banner-2.png">
          <a href="http://github.com/objectiveous/davenport/tree/master">
            <img style="position: absolute; top: 0; right: 0; border: 0;" 
                src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" 
                alt="Fork me on GitHub" /></a>
      </div>
      <div id="navigation">
        <ul>
          <li id="navi_intro">
            <a href="../../../">Intro</a>
          </li>
           <li id="navi_builds">
              <a href="../../../builds.html">Builds</a>
            </li>
          
           <li id="navi_hacking">
              <a href="/davenport/2009/01/28/hacking.html">Hacking</a>
            </li>          
          <li id="navi_source">
            <a href="http://github.com/objectiveous/davenport">Source</a>
          </li>
          
        </ul>
      </div>
      <div id="page_body">
        <div id="content">
          {{ content }}
                    
          <script type="text/javascript">var disqus_url = "http://objectiveous.github.com/davenport/{{ post.url }}"; var disqus_title ="{{ post.title }}";</script>
          <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/davenport/embed.js"></script>
         
         <!--
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
         -->
         
          <script type="text/javascript">
          //<![CDATA[
          (function() {
          		var links = document.getElementsByTagName('a');
          		var query = '?';
          		for(var i = 0; i < links.length; i++) {
          			if(links[i].href.indexOf('#disqus_thread') >= 0) {
          				query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          			}
          		}
          		document.write('<script type="text/javascript" src="http://disqus.com/forums/davenport/get_num_replies.js' + query + '"></' + 'script>');
          	})();
          //]]>
          </script>
          
        </div>
        <div id="sidebar">                    
          <div class="item">
            <!-- Blog   -->
           
            <h4>Blog Posts</h4>
            <p>
              {% for post in site.posts %} 
                <span>{{ post.date | date_to_string }}</span> » <a href="/davenport{{ post.url }}">{{ post.title }}</a><br>
              {% endfor %}
            </p>
          </div>
          <!--
          <div class="item">
            <script type="text/javascript" src="http://disqus.com/forums/davenport/combination_widget.js?num_items=5&color=orange&default_tab=recent"></script>
          </div>
              -->
        </div>
      </div>

      
      <div id="footer">

      </div>
    </div>
  
  </body>
</html>
